.calendar-day {
  &-card {
    width: 13vw;
    min-height: 5vh;
    cursor: cell;
    background-color:  $bg-color-primary;

    &:hover {
      background: $bg-color-purple;
    }

    &--disabled {
      background-color: $bg-color-secondary !important;
      cursor: not-allowed;

      &:hover {
        background: $bg-color-secondary;
      }
    }
  }

  &-header {
    display: flex;
    justify-content: space-between;
    margin-left: $padding-small;
  }

  &-content {
    padding: 0;
    overflow-y: auto;
  }

  &-remindersContainer {
    margin-top: 10px;
    padding: 0;
    overflow: auto;
    max-height: 300px;
  }

  &-reminders {
    padding: 5;
    padding-left: 10px;
    font-weight: bold !important;
    height: 50px;
    border: 1px solid rgb(80, 80, 80);
    // background-color:  rgb(123, 122, 122);
    background-color:  rgb(140, 140, 140);
    color: aliceblue;
    border-radius: 5px;
    margin-top: 7px;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    justify-items: center;
    align-content: center;
    align-items: center;

    &:hover {
      background-color: rgb(115, 115, 115);
      height: 55px;

      box-shadow: 6px 6px 22px -1px rgba(0,0,0,0.51);
    -webkit-box-shadow: 6px 6px 22px -1px rgba(0,0,0,0.51);
    -moz-box-shadow: 6px 6px 22px -1px rgba(0,0,0,0.51);

    }
  }

  &-reminder-title {
    padding: 5;
    padding-left: 10px;
    width: 300px;
    align-items: center;
  }

  &-reminder-date {
    padding: 5;
    padding-left: 10px;
    font-weight: 500;
  }

  &-primary-btn {
    color: white;
    background-color: rgb(41, 117, 240);
    font-weight: lighter;

    box-shadow: 8px 8px 22px 1px rgba(0,0,0,0.51);
    -webkit-box-shadow: 8px 8px 22px 1px rgba(0,0,0,0.51);
    -moz-box-shadow: 8px 8px 22px 1px rgba(0,0,0,0.51);
  }

  &-text {
    color: $tx-color-primary;
    text-align: "center";
    font-size: $font-size-extra-small;
    margin-top: $padding-medium;
  }
}
